.con{
	height: 1160px;
}
.con7{
	position: absolute;
	height: 1160px;
}
.con>ul{
	height: auto;
}
 .con ul{
 	border: 0;
 }
 ul .context7{
 	height: 270px;
 }
 ul .context8,ul .context10{
 	height: 201px;
 }
 ul .context9{
 	height: 131px;
 }
 ul .context11{
 	height: 80px;
 }
.context7 li,.context8 li,.context9 li,.context10 li,.context11 li{
	border: 1px solid #fcfcfc;
	float: left;
	height: 58px;
	width: 126px;
	margin: 0 7px 10px;
	text-align: center;
	line-height: 58px;
	background-color: #fcfcfc;
}
.context7 li:hover,.context8 li:hover,.context9 li:hover,.context10 li:hover,.context11 li:hover{
	border: 1px solid #e2e6e8;
}
.nav-block,.nav-block1,.nav-block2,.nav-block3{
	display: inline-block;
	height: 50px;
	width: 73px;
	text-align: left;
	margin-top: 0px;
}
.nav-block1,.nav-block2,.nav-block3{
	height: 57px;
	width: 126px;
	margin: 0px;
	padding: 0;
	text-align: center;
}
h1{
	font-size: 14px;
    margin-left: 10px;
}
.nav-block img{
	position: relative;
	left: -10px;
	top: -20px;
	margin-top: -8px;
	height: 16px;
	width: 16px;
}
.nav-txt{
    font-size: 14px;
	max-width: 57px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}