body{
	margin: 0;
	padding: 0;
}
a{
	margin: 0;
}
.con1{
	height:2016px;
}
.tupian1{
	height: 273px;
}
.text{
    height: 22px;
}
.v-pic{
	height: 103px;
}
.viedo1{
	height: 343px;
	border-bottom: 1px solid #e2e6e8;
	width: 95%;
	margin: 0 auto;
	position: absolute;
	left: 2.5%;
}
.video-item1,.video-item2{
	float: left;
	border: 1px solid rgb(241, 241, 241) ;
	height: 323px;
	width: 195px;
    margin:8px 9px 0 0;
}
.video-item2{
	border: 0;
}
.score{
    height: 53px;
    background: rgb(245, 245, 245);
    width: 195px;
    position: relative;
    top: -3px;
    left: 0px;
}
.star{
	height: 17px;
	width: 100%;
	font-size: 13px;
    color: rgb(153, 153, 153);
    margin-top: 6px;
}
.score-star{
	display: block;
	background:url(../img/star.png);
    height: 13px;
    width: 65px;
    margin: 7px 4px;
}
.star-active{
    position: absolute;
	top: 29px;
	height: 13px;
	width: 13px;
	background-image: url(../img/star.png);
    background-position: 0px -13px;
}
.num{
	position: relative;
	top: -21px;
	left: 80px;
}
.item{
	height: 154px;
	width: 100%;
	border: 1px solid rgb(241, 241, 241);
    margin-bottom: 13px;
}
.textin{
 	background: rgb(245, 245, 245);
    width: 100%;
    height: 54px;
    position: relative;
    top: -3px;
}