body,
div,
ul,
li,
dl,
dd,
dt,
p,
img,
ol {
  padding: 0;
  margin: 0;
  font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei";
}
a,
dd,
div,
dl,
dt,
i,
img,
input,
li,
p,
span,
ul {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  background: #f1f3f3;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img,
p,
a,
input {
  border: none;
}
