body {
    min-width: 1349px;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    height: auto;
}
a {
    color: #000000;
    font-size: 13px;
    margin: 5px;
}
.head {
    z-index: 9999;
    width: 100%;
    height: 0px;
    background: #fff;
    position: fixed;
    left: 0px;
    top: 0px;
    border-bottom: 1px solid #e3e3e3;
    overflow: hidden;
}
.title {
    width: 911px;
    height: 45px;
    margin: 0px auto;
}
.heitiao {
    width: 100%;
    height: 35px;
    background: rgba(0, 0, 0, 0.7);
}
.menu {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #e3e3e3;
}
.p1 {
    margin-top: 0;
    width: 861px;
    height: 45px;
    background: url(../img/p1.png);
    float: left;
    cursor: pointer;
}
.p2 {
    margin-top: 0;
    width: 50px;
    height: 45px;
    background: url(../img/sp.png);
    float: right;
    cursor: pointer;
}
.bg {
    width: 911px;
    height: 205px;
    margin: 25px auto;
}
.bgcon {
    width: 590px;
    height: 190px;
    float: left;
}
.bgcon img {
    width: 97px;
    height: 59px;
    display: block;
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
}
.bgcon .big {
    width: 195px;
    height: 119px;
}
.bgcon .last {
    position: relative;
    top: -60px;
}
.bgyl {
    width: 264px;
    height: 180px;
    float: right;
    background: url(../img/bg1s.jpg);
    background-size: 294px;
}
.header {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #ebebeb;
}
.first {
    height: 35px;
    width: auto;
    display: inline-block;
    line-height: 35px;
    font-size: 13px;
    float: left;
    padding: 0 5px;
    margin-left: 10px;
}
.second {
    height: 35px;
    width: auto;
    display: inline-block;
    line-height: 35px;
    font-size: 13px;
    text-align: left;
    float: left;
    padding: 0 5px;
}
.second a {
    text-decoration: underline;
    padding: 0 5px;
    margin: 0;
}
.third {
    float: right;
}
.third1 {
    padding: 8px;  
    text-align: center;
    font-weight: 900;
    float: left;
}
ul {
    padding: 0;
    margin: 0;
}
ul, li {
    list-style: none;
}
.third2 {
    padding: 8px;  
    float: left;
}
.hmain, .more {
    position: relative;
    text-align: center;
    float: left;
    display: inline-block;
}
.third2 a {
    margin: 5px;
}
.main {
    display: none;
    box-shadow: 2px 1px 1px #dadada;
    border: 1px solid #ebebeb;
    position: relative;
    top: 9px;
    line-height: 20px;
}
.main:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 7px solid #ebebeb;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    top: -8px;
    left: 27px;
}
.main a {
    text-decoration: none;
}
.main li:hover {
    background: #38f;
    color: #ffffff;
}
.third3 {
    background-color: #38f;
    padding: 9px 0;
    float: left;
}
.third3 a {
    color: #ffffff;
}
.hmain1 {
    display: none;
    z-index: 9999;
    line-height: 0;
    padding: 0 15px;
    border: 1px solid #e2e6e8;
    position: relative;
    top: 8px;
    background: #f0f0f0;
}
.hmain1 li {
    padding: 8px 0px 2px;
    border-bottom: 1px solid #e2e6e8;
}
.hmain1 a, .recordcode a {
    text-decoration: none;
    color: #666;
}
.hmain1 a, .recordcode a:hover {
    text-decoration: underline;
}
.middle {
    width: 100%;
    height: auto;
}
.middleCon {
    width: 80%;
    margin: 0 auto;
    height: auto;
}
.baidu, .information {
    height: 210px;
    width: 80%;
    margin: 0 auto;
}
.baidu img {
    position: absolute;
    left: 40%;
}
.intext {
    border: hidden;
    width: 77%;
    font-size: 12px;
    margin-top: 10px;
    height: 20px;
    outline: none;
}
.btn {
    float: right;
    cursor: pointer;
    width: 102px;
    border: 0;
    padding: 0;
    color: #ffffff;
    background: none;
    background-color: #38f;
    height: 40px;
    box-shadow: none;
    font-size: 16px;
    font-weight: normal;
}
.btn:hover {
    background-color: #317ef3;
    box-shadow: 1px 1px 1px #ccc;
}
.formCon {
    position: absolute;
    top: 192px;
    left: 26%;
    height: 40px;
    border: 1px solid #b8b8b8;
    width: 641px;
    background-color: white;
}
.formCon:hover {
    border: 1px solid #999;
}

/*输入框end*/

/*导航栏star*/
.information {
    margin-top: 35px;
    height: auto;
}
.inforHead {
    width: 100%;
    height: auto;
    border: 1px solid #e2e6e8;
    background-color: #fff;
}
.inforHead ul {
    height: 40px;
    border-bottom: 1px solid #e2e6e8;
}
.set {
    width: 0px;
    height: 18px;
    display: block;
    background: url(imgs/card.png) no-repeat -121PX -49PX;
}
.set:hover {
    background: url(imgs/card.png) no-repeat -121PX -72PX;
}
.minIcon {
    margin-left: -18px;
    float: left;
    height: 18px;
    display: block;
    background: url(imgs/card.png) no-repeat -15PX 0;
    width: 18px;
}
.minIcon1 {
    margin-left: -18px;
    float: left;
    height: 18px;
    display: block;
    background: url(css/imgs/card.png) no-repeat -143PX 0;
    width: 18px;
}
.tab li {
    float: left; 
    padding: 11px 26px;
    cursor: pointer;
}
.tab li:hover {
    background-color: #b3b6bb;
    color: #ffffff;
}
.tabin {
    pointer-events: none;
    background-color: #9a9da2;
    color: #ffffff;    
}
#contentsecond {
    padding-bottom: 60px;
    clear: left;
    width: 100%;
    height: auto;
    border-top: 0;
    position: relative;
    left: -1px;
}

/*底部star*/
.footer {
    margin-top: 25px;
    width: 100%;
    margin-bottom: 25px;
}
.qrcode {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    color: #999;
    font-size: 13px;
}
.ih {
    display: inline;
}
.ih a, .copyright-text a, .recordcode a {
    color: #999;
}
.recordcode a i {
    display: inline-block;
    width: 14px;
    height: 16px;
    margin-right: 6px;
    background: url(../img/icon-police.png?v=md5) 0 0 no-repeat;
    vertical-align: middle;
    margin-top: -4px;
}
.topsize {
    display: none;
    cursor: pointer;
    background-color: #fafafa;
    position: fixed;
    bottom: 68px;
    right: 186px;
    height: 38px;
    width: 38px;
    border: 1px solid #e3e3e3;
}
.topicon {
    height: 38px;
    width: 38px;
    display: block;
    background: url(imgs/top.png) no-repeat 2px 2px;
    font-size: 0;
}
.toptext {
    display: none;
    font-size: 13px;
    margin: 4px 6px;
    color: #999;
}